*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

#side-buttons{
  position: fixed;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  right: 50px;
  z-index: 1;
  @media (max-width: 667px) {
    display: none;
  }
  @media (min-width: 668px) and (max-width: 960px) {
    right: 25px;
  }
  a{
    position: relative;
    display: block;
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 25px 0;
    width: 25px;
    height: 25px;
  }
  .active{
    background: #fff;
  }
}

header{
  position: fixed;
  z-index: 1;
  margin: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  background: -webkit-linear-gradient(9deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(9deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-bottom: 1px solid #fff;
  transform: skewY(2deg);
  top: -40px;
  @media (max-width: 667px) {
    top: -20px;
  }
  @media (min-width: 668px) and (max-width: 960px) {
    top: -30px;
  }
  .welcome{
    margin-top: 10px;
    float:right;
    width: 300px;
    transform: skewY(-2deg);
    h1{
      font-family: 'Cormorant Infant', serif;
      color: #fff;
      width: 100%;
      text-align: center;
      font-size: 30px;
    }
  }
}

.section{
  position: absolute;
  top: 100px;
  display: inline-block;
  width: 0%;
  @media (max-width: 667px) {
    width: 98%;
    margin: 0 1%;
  }
  h1{
    padding-left: 60%;
    font-family: 'Cormorant Infant', serif;
    max-width: 1080px;
    width: 100%;
    font-size: 35px;
    color: #003300;
    text-align: left;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #003300;
    border-radius: 0 5px 5px 0;
    white-space: nowrap;
    @media (max-width: 667px) {
      padding: 0;
      font-size: 30px;
      border-radius: 5px;
      text-align: center;
    }
    @media (min-width: 668px) and (max-width: 960px) {
      padding-left: 30%;
      font-size: 30px;
    }
    @media (min-width: 961px) and (max-width: 1080px) {
      padding-left: 45%;
      font-size: 30px;
    }
  }
}

#slide-1{
  position: relative;
  min-height: 100vh;
  height: 100%;
  background:url('../img/slide1.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding: 200px 0 50px 0;
  .intro{
    clear: both;
    margin: 0 auto;
    max-width: 960px;
    width: 70%;
    text-align: center;
    @media (max-width: 667px) {
      width: 98%;
    }
    @media (min-width: 668px) and (max-width: 960px) {
      width: 80%;
    }
    h2{
      font-family: 'Dosis', sans-serif;
      color: #003300;
      height: 100%;
      font-size: 18px;
      padding: 5px;
      background-color: rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #fff;
      border-radius: 5px;
    }
  }
  .block-container{
    display: block;
    margin: 0 auto;
    max-width: 960px;
    width: 70%;
    @media (max-width: 667px) {
      width: 98%;
    }
    @media (min-width: 668px) and (max-width: 960px) {
      width: 80%;
    }
    .offer:hover{
      background-color: rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.7);
    }
    .offer:last-child {
      margin-bottom: 20px;
    }
    .offer{
      margin: 1% auto;
      width: 49%;
      height: 150px;
      background-color: rgb(255, 255, 255);
      background-color: rgba(255, 255, 255, 0.5);
      border: 1px solid #fff;
      border-radius: 5px;
      @media (max-width: 667px) {
        margin: 2% auto;
        width: 98%;
        height: 100px;
      }
      @media (min-width: 668px) and (max-width: 960px) {
        height: 120px;
      }
      img{
        border: 1px solid #000;
        opacity: 0.9;
        float: left;
        margin: 15px;
        height: 120px;
        width: 120px;
        @media (max-width: 667px) {
          margin: 10px;
          height: 80px;
          width: 80px;
        }
        @media (min-width: 668px) and (max-width: 960px) {
          margin: 10px;
          height: 100px;
          width: 100px;
        }
      }
      h2{
        font-family: 'Dosis', sans-serif;
        color: #003300;
        height: 100%;
        font-size: 21px;
        margin: 5px 5px;
        @media (max-width: 667px) {
          font-size: 18px;
        }
        @media (min-width: 668px) and (max-width: 960px) {
          font-size: 18px;
        }
      }
    }
    .left{
      float: left;
    }
    .right{
      float: right;
    }
    .left, .right {
      @media (max-width: 667px) {
        float: none;
      }
    }
  }
}

#slide-2{
  position: relative;
  min-height: 100vh;
  height: 100%;
  padding:  200px 0 50px 0;
  background:url('../img/slide2.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  .description{
    margin: 20px auto;
    max-width: 1080px;
    text-align: justify;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 20px;
    @media (max-width: 667px) {
      padding: 10px;
      width: 98%;
    }
    @media (min-width: 668px) and (max-width: 1280px) {
      padding: 10px;
      width: 80%;
    }
    p{
      font-family: 'Dosis', sans-serif;
      font-size: 17px;
      a{
        text-decoration: none;
        color: #003300;
        font-weight: bold;
      }
      a:hover{
        color: red;
      }
    }
    h3{
      font-family: 'Dosis', sans-serif;
      text-align: center;
    }
  }
}

#slide-3{
  position: relative;
  min-height: 100vh;
  height: 100%;
  padding:  200px 0 50px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background:url('../img/slide3.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  .experience:hover{
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
  }
  .experience{
    margin: 10px auto;
    max-width: 1080px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    width: 100%;
    border: 1px solid #fff;
    @media (max-width: 667px) {
      margin: 5px auto;
      width: 98%;
    }
    @media (min-width: 668px) and (max-width: 1280px) {
      margin: 5px auto;
      width: 80%;
    }
    p{
      text-align: justify;
      font-family: 'Dosis', sans-serif;
      font-weight: 500;
      margin: 10px 10px;
      font-size: 17px;
      color: #003300;
    }
  }
}

#slide-4{
  position: relative;
  min-height: 100vh;
  height: 100%;
  padding:  200px 0 50px 0;
  background:url('../img/slide4.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid #000;
  #references{
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 1080px) {
      padding: 0 60px;
    }
    img{
      margin: 20px;
      width: 280px;
      height: 400px;
      border: 2px solid #000;
      transition: all .2s ease-in-out;
      @media (max-width: 744px) {
        margin: 10px;
        width: 90%;
        height: auto;
      }
    }
    img:hover{
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

#modal-main {
	display: none; /* default = hidden */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
  #modal-container {
  	position: relative;
  	margin:	0 auto;
  	width: 650px;
  	margin-top:	100px;
  	z-index: 2;
    @media (max-width: 667px) {
      width: 100%;
    }
    #modal-left-button, #modal-right-button {
    	position: absolute;
    	cursor: pointer;
    	padding: 16px;
    	color: #fff;
    	font-size: 40px;
    	box-sizing: border-box;
    	width: 55px;
    	height: 50px;
      @media (max-width: 667px) {
        display: none;
      }
    }
    #modal-left-button{
    	position: absolute;
      top: 50%;
      margin-top: -50px;
    }
    #modal-right-button{
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: -55px;
      margin-top: -50px;
    }
    #modal-right-button:hover, #modal-left-button:hover{
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    .modal-content {
    	position:	relative;
    	clear: both;
      margin: auto;
      display: block;
      max-width: 500px;
    	height:	700px;
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }
  }
}

@-webkit-keyframes
	zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
	}

@keyframes
	zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
	}

/* Modal side Buttons */


#slide-5{
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding: 200px 0 50px 0;
  background:url('../img/slide5.jpg') 50% 0 no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  #contact{
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    @media (max-width: 667px) {
      width: 98%;
    }
    h2{
      text-align: center;
      font-size: 30px;
      margin: 0;
      font-family: 'Cormorant Infant', serif;
      color: #003300;
    }
    p{
      text-align: center;
      font-size: 20px;
      margin: 4px;
      font-family: 'Cormorant Infant', serif;
      color: #003300;
      font-weight: bold;
      a {
        color: #003300;
      }
    }
  }
  #form-messages, .field {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }
  label {
    display: block;
    font-size: 1.2em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    color: #C6C3B5;
  }
  input {
    font-family: 'Cormorant Infant', serif;
    width: 100%;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 2px solid #003300;
    @media (max-width: 667px) {
      width: 90%;
    }
  }
  textarea {
    font-family: 'Cormorant Infant', serif;
    width: 100%;
    height: 200px;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    border-radius: 3px;
    border: 2px solid #003300;
    @media (max-width: 667px) {
      width: 90%;
    }
  }
  textarea:focus, input:focus{
    outline: none !important;
    border:1px solid red;
  }
  button {
    font-family: 'Cormorant Infant', serif;
    display: inline-block;
    border-radius: 3px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 50px 0;
    padding: 0.5em 0.8em;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #000;
    color: 003300;
    width: 100%;
    text-align: center;
    @media (max-width: 667px) {
      width: 90%;
    }
  }
  button:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .contact-data {
    padding: 5px 0;
  }
  .copyright{
    width: 100%;
    text-align: center;
    position: absolute;
    color: #fff;
    font-size: 15px;
  }
}
